<%- include('partials/_header'); -%>

<h1>HOla </h1>

<div class="container-fluid">
    <div class="card">
        <form action="personalidad/delete" method="POST">
            <button type="submit" class="btn btn-primary" value="10" name="id">
                Eliminar
            </button>
        </form>
    </div>
</div>

<div class="container-fluid">
    <%- include('partials/_footer'); -%>
</div>